<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <head>
    <title>sQuiz Game</title>

    <link rel="stylesheet" href="/styles/my-quizzes.css" type="text/css" />
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="spacer"></div>
    <h2 class="slogan">My sQuizzes</h2>
    <div class="flex-container">
      <section class="quiz-container">
        <h3 class="public-title">Public sQuizzes</h3>
        <ul class="public-grid">
          <% for (quiz of quizzes) { %> <% if (quiz.ispublic == true) { %>
          <div class="details-container">
            <a href="/quiz-start/<%=quiz.short_url%>" method="GET">
              <li
                class="quiz-card"
                style="
                  background-image: url('<%=quiz.cover_image_url%>');
                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;
                "
              >
                <div class="quiz-category"><%=quiz.category%></div>
                <div class="quiz-title-container">
                  <h3 class="quiz-title"><%=quiz.title%></h3>
                </div>
              </li>
              <%const date = quiz.created_at.toString()%>
            </a>
            <p class="date">
              Created on <strong><%=date.slice(0, 16)%></strong>
            </p>
            <div class="options-container">
              <form method="GET" action="/edit/<%=quiz.id%>">
                <button class="edit"><p>Edit</p></button>
              </form>
              <form method="POST" action="/delete/<%=quiz.id%>">
                <button class="delete"><p>Delete</p></button>
              </form>
            </div>
          </div>
          <% } %> <%}%>
        </ul>
        <div class="divider"></div>
        <h3 class="private-title">Private sQuizzes</h3>
        <ul class="private-grid">
          <% for (quiz of quizzes) { %> <% if (quiz.ispublic != true) { %>
          <div class="details-container">
            <a href="/quizzes/<%=quiz.short_url%>" method="GET">
              <li
                class="quiz-card"
                style="
                  background-image: url('<%=quiz.cover_image_url%>');
                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;
                "
              >
                <div class="quiz-category"><%=quiz.category%></div>
                <div class="quiz-title-container">
                  <h3 class="quiz-title"><%=quiz.title%></h3>
                </div>
              </li>
              <%const date = quiz.created_at.toString()%>
            </a>
            <p class="date">
              Created on <strong><%=date.slice(0, 16)%></strong>
            </p>
            <div class="options-container">
              <form method="GET" action="/edit/<%=quiz.id%>">
                <button class="edit"><p>Edit</p></button>
              </form>
              <form
                method="POST"
                action="/delete/<%=quiz.id%>"
                class="d-inline"
              >
                <button class="delete"><p>Delete</p></button>
              </form>
            </div>
          </div>
          <% } %> <% } %>
        </ul>
      </section>
    </div>
  </body>
</html>
