<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <head>
    <title>sQuiz Game - Results</title>

    <link rel="stylesheet" href="/styles/my-quizzes.css" type="text/css" />
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="spacer"></div>
    <h2 class="slogan">My Results</h2>
    <div class="flex-container">
      <section class="results-container">
        <ul class="quiz-grid">
          <% for (quiz of quizzes) { %>
          <!-- replace anchor link with the link id url -->
          <div>
            <li
              class="quiz-card-results"
              style="
                background-image: url('<%=quiz.cover_image_url%>');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
              "
            >
              <div class="quiz-category"><%=quiz.category%></div>
              <div class="quiz-title-container">
                <h3 class="quiz-title"><%=quiz.title%></h3>
              </div>
            </li>
            <div class="details-container">
              <%const date = quiz.finish_at.toString()%>
              <p class="details">
                <strong> Completed on:</strong>
                <span class="spacer"> <%=date.slice(0, 16)%></span>
              </p>
              <p class="details">
                <strong> Score: </strong>
                <span class="spacer">
                  <%= quiz.score %> / <%= quiz.total %></span
                >
              </p>
              <div class="try-again">
                <a href="/quizzes/<%=quiz.short_url%>" class="btn-primary"
                  >Take sQuiz Again</a
                >
              </div>
            </div>
            <p class="result-share-label">Share your results!</p>

            <div class="share-result-link">
              <input
                id="copylink<%=quiz.result_id%><%=quiz.short_url%>"
                type="text"
                name="result-share"
                value="localhost:8080/result/<%=quiz.result_id%>/<%=quiz.short_url%>"
              />
              <button
                class="copy-container"
                onclick="clipboard('<%=quiz.result_id%><%=quiz.short_url%>')"
              >
                <i class="fas fa-copy"></i>
              </button>
            </div>
          </div>
          <%}%>
        </ul>
      </section>
    </div>
  </body>
</html>
