<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>
  <head>
    <title>sQuiz Game - Results</title>

    <link rel="stylesheet" href="/styles/my-quizzes.css" type="text/css" />
    <link rel="stylesheet" href="/styles/quizzes.css" type="text/css" />

    <script type="text/javascript" src="/scripts/quizzes.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="spacer"></div>
    <div class="flex-container">
      <section class="results-container-for-question">


    <h class="slogan" >Quiz Results</h2>
    <p class="score-display">You answered <%=score %> out of <%=total%> correctly!</p>
    <a href="/my-results">
    <button id= "next_question"type="submit">
      Go to my Results
      </button>
    </a>
  </section>
</div>
<%- include('partials/_footer') %>

  </body>
</html>



