

<!DOCTYPE html>
<html lang="en">
  <head>


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/quizzes.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/quizzes.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>


        <% for (question of quiz) { %>

          <div class="quiz">
            <p class="category-quiz"><%=question.category%></p>

           <div class="img-div-quiz">
            <img src="<%=question.image_url%>" width="200" height="200" />
            </div>
            <input class="correct-answer" value="<%=question.answer%>" type=hidden>
           <p class= "question-quiz"><%=question.question%></p>
           <p class="answers-quiz"><%=question.choice_1%></p>
           <p class="answers-quiz"><%=question.choice_2%></p>
           <p class="answers-quiz"><%=question.choice_3%></p>
           <p class="answers-quiz"><%=question.choice_4%></p>
          </div>

        <div class="controls">
          <a href="/quizzes/<%=question.short_url%>?questionid=<%=question.id%>">
          <button id="next-btn" class="next-btn btn hide">Next</button>
        </a>

        </div>
        <%}%>

    </div>
  </div>
  </body>
</html>

