

<!DOCTYPE html>
<html lang="en">
  <head>


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/quizzes.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>


        <% for (quiz of quizzes) { %>

          <div class="quiz">
            <p class="category-quiz"><%=quiz.category%></p>
           <div class="img-div-quiz">
            <img src="<%=quiz.image_url%>" width="200" height="200" />
            </div>
           <p class= "question-quiz"><%=quiz.question%></p>
           <p class="answers-quiz"><%=quiz.choice_1%></p>
           <p class="answers-quiz"><%=quiz.choice_2%></p>
           <p class="answers-quiz"><%=quiz.choice_3%></p>
           <p class="answers-quiz"><%=quiz.choice_4%></p>
           <p class="title-quiz"><%=quiz.title%></p>
          </div>
        <%}%>
        <div class="controls">
          <button id="start-btn" class="start-btn btn">Start</button>
          <button id="next-btn" class="next-btn btn hide">Next</button>
        </div>

    </div>
  </div>
  </body>
</html>

