<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <head>
    <title>sQuiz Game - Results</title>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="spacer"></div>
    <div class="whole-screen">
      <div class="result-card-container">
        <section class="result-card">
          <div class="card-header">
            <div
              class="card-image"
              style="
                background-image: url('<%=result.cover_image_url%>');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
              "
            ></div>
            <div class="quiz-details">
              <h1 class="result-title"><%=result.title%></h1>
              <p class="result-category"><%=result.category%></p>
              <!-- storing date as variable to splice -->
              <%const date = result.finish_at.toString()%>
              <p class="date-taken">
                Taken on: <span class="spacer"></span><%=date.slice(0, 16)%>
              </p>
            </div>
          </div>
          <div class="card-body">
            <p class="result-message">
              <%=result.name%><span class="spacer"> scored </span>
              <%=result.score%>/<%=result.count%> on this sQuiz!!
            </p>
            <p class="result-meme">Someone get them a cookie!🍪</p>
          </div>
          <p
            class="result-meme"
            style="font-size: 0.8rem; margin-bottom: -1rem"
          >
            Think you can do better?
          </p>
          <a
            href="/quiz-start/<%=result.short_url%>"
            class="btn-primary"
            id="take-quiz"
            >Try Quiz</a
          >
        </section>
      </div>
    </div>
  </body>
</html>
