<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <head>
    <title>sQuiz Game - Search</title>
  </head>

  <body>
    <%- include('partials/_header') %>

    <div class="flex-container search-results">
      <section class="quiz-container">
        <h2 class="quiz-list-title">Search sQuizzes Results</h2>
        <ul class="quiz-grid">
          <% for (quiz of quizzes) { %>
          <!-- replace anchor link with the link id url -->
          <a href="/quiz-start/<%=quiz.short_url%>" method="GET">
            <li
              class="quiz-card"
              style="
                background-image: url('<%=quiz.cover_image_url%>');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
              "
            >
              <div class="quiz-category"><%=quiz.category%></div>
              <div class="quiz-title-container">
                <h3 class="quiz-title"><%=quiz.title%></h3>
              </div>
            </li>
          </a>
          <%}%>
        </ul>
      </section>
    </div>
    <%- include('partials/_footer') %>
  </body>
</html>
